<a href="https://colab.research.google.com/github/CalinZavoi/Book_Store/blob/main/Zavoi_Calin_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import sqlite3


conn = sqlite3.connect(':memory:') 

with open('BX-Book-Ratings.sql', 'r') as file:
    sql_script = file.read()
    cursor = conn.cursor()
    cursor.executescript(sql_script)


query = "SELECT * FROM BX-Book-Ratings;"  
df = pd.read_sql_query(query, conn)


conn.close()

OperationalError: ignored

In [75]:
import pandas as pd

path = 'BX-'
l_path = ['Book-Ratings',
          'Books',
          'Users'
]

dataframes = {}


def replace_characters(df):
    df.replace('%amp;', '&', regex=True, inplace=True)
    df.replace('EOF', '', regex=True, inplace=True)


for crt in l_path:
    final_path = path + crt + '.csv'
    dataframes[crt] = pd.read_csv(final_path, sep=';', encoding='latin-1', on_bad_lines = 'warn', dtype=object)
    replace_characters(dataframes[crt])


ratings_df = dataframes['Book-Ratings']
books_df = dataframes['Books']
users_df = dataframes['Users']

display(ratings_df)
display(books_df)
display(users_df)

Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

        User-ID         ISBN Book-Rating
0        276725   034545104X           0
1        276726   0155061224           5
2        276727   0446520802           0
3        276729   052165615X           3
4        276729   0521795028           6
...         ...          ...         ...
1149775  276704   1563526298           9
1149776  276706   0679447156           0
1149777  276709   0515107662          10
1149778  276721   0590442449          10
1149779  276723  05162443314           8

[1149780 rows x 3 columns]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

       User-ID                            Location  Age
0            1                  nyc, new york, usa  NaN
1            2           stockton, california, usa   18
2            3     moscow, yukon territory, russia  NaN
3            4           porto, v.n.gaia, portugal   17
4            5  farnborough, hants, united kingdom  NaN
...        ...                                 ...  ...
167680  167681             new york, new york, usa   31
167681  167682                 mcallen, texas, usa  NaN
167682  167683         alamogordo, new mexico, usa  NaN
167683  167684       providence, rhode island, usa   24
167684  167685             bloomer, wisconsin, usa   30

[167685 rows x 3 columns]

In [76]:
ratings = ratings_df
books = books_df
users = users_df


display(ratings)
display(books)
display(users)

        User-ID         ISBN Book-Rating
0        276725   034545104X           0
1        276726   0155061224           5
2        276727   0446520802           0
3        276729   052165615X           3
4        276729   0521795028           6
...         ...          ...         ...
1149775  276704   1563526298           9
1149776  276706   0679447156           0
1149777  276709   0515107662          10
1149778  276721   0590442449          10
1149779  276723  05162443314           8

[1149780 rows x 3 columns]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

       User-ID                            Location  Age
0            1                  nyc, new york, usa  NaN
1            2           stockton, california, usa   18
2            3     moscow, yukon territory, russia  NaN
3            4           porto, v.n.gaia, portugal   17
4            5  farnborough, hants, united kingdom  NaN
...        ...                                 ...  ...
167680  167681             new york, new york, usa   31
167681  167682                 mcallen, texas, usa  NaN
167682  167683         alamogordo, new mexico, usa  NaN
167683  167684       providence, rhode island, usa   24
167684  167685             bloomer, wisconsin, usa   30

[167685 rows x 3 columns]

I want to make 2 merges: ratings with books and ratings with users

I want to identify the book with the highest average rating

In [53]:
average_ratings = ratings.groupby('ISBN')['Book-Rating'].mean()

highest_average_rating_isbn = average_ratings.nlargest(3)

print(highest_average_rating_isbn)

ISBN
'9607092910'     10.0
0.330241664      10.0
0.380.44099.7    10.0
Name: Book-Rating, dtype: float64

Then, the book with the most 10 ratings

In [54]:
ratings_10 = ratings[ratings['Book-Rating'] == 10]

ratings_10_count = ratings_10.groupby('ISBN').size()

isbn_with_most_10_ratings = ratings_10_count.nlargest(3)

print(isbn_with_most_10_ratings)

ISBN
0385504209    158
059035342X    152
0316666343    148
dtype: int64

In [58]:
avg_ratings = ratings.groupby('ISBN')['Book-Rating'].mean()

rating_counts = ratings['ISBN'].value_counts()

filtered_books = average_ratings[rating_counts >= 100]

sorted_books = filtered_books.sort_values(ascending=False)

top_books = sorted_books.head(3)

print(top_books)

ISBN
0439064864    6.611765
0439139597    6.541237
0439136350    6.467005
Name: Book-Rating, dtype: float64

Find the books with the highest average rating but who have atleast 100 ratings from unique users