<a href="https://colab.research.google.com/github/CalinZavoi/Book_Store/blob/main/Zavoi_Calin_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import sqlite3


conn = sqlite3.connect(':memory:') 

with open('BX-Book-Ratings.sql', 'r') as file:
    sql_script = file.read()
    cursor = conn.cursor()
    cursor.executescript(sql_script)


query = "SELECT * FROM BX-Book-Ratings;"  
df = pd.read_sql_query(query, conn)


conn.close()

OperationalError: ignored

In [75]:
import pandas as pd

path = 'BX-'
l_path = ['Book-Ratings',
          'Books',
          'Users'
]

dataframes = {}


def replace_characters(df):
    df.replace('%amp;', '&', regex=True, inplace=True)
    df.replace('EOF', '', regex=True, inplace=True)


for crt in l_path:
    final_path = path + crt + '.csv'
    dataframes[crt] = pd.read_csv(final_path, sep=';', encoding='latin-1', on_bad_lines = 'warn', dtype=object)
    replace_characters(dataframes[crt])


ratings_df = dataframes['Book-Ratings']
books_df = dataframes['Books']
users_df = dataframes['Users']

display(ratings_df)
display(books_df)
display(users_df)

Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

        User-ID         ISBN Book-Rating
0        276725   034545104X           0
1        276726   0155061224           5
2        276727   0446520802           0
3        276729   052165615X           3
4        276729   0521795028           6
...         ...          ...         ...
1149775  276704   1563526298           9
1149776  276706   0679447156           0
1149777  276709   0515107662          10
1149778  276721   0590442449          10
1149779  276723  05162443314           8

[1149780 rows x 3 columns]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

       User-ID                            Location  Age
0            1                  nyc, new york, usa  NaN
1            2           stockton, california, usa   18
2            3     moscow, yukon territory, russia  NaN
3            4           porto, v.n.gaia, portugal   17
4            5  farnborough, hants, united kingdom  NaN
...        ...                                 ...  ...
167680  167681             new york, new york, usa   31
167681  167682                 mcallen, texas, usa  NaN
167682  167683         alamogordo, new mexico, usa  NaN
167683  167684       providence, rhode island, usa   24
167684  167685             bloomer, wisconsin, usa   30

[167685 rows x 3 columns]

In [76]:
ratings = ratings_df
books = books_df
users = users_df


display(ratings)
display(books)
display(users)

        User-ID         ISBN Book-Rating
0        276725   034545104X           0
1        276726   0155061224           5
2        276727   0446520802           0
3        276729   052165615X           3
4        276729   0521795028           6
...         ...          ...         ...
1149775  276704   1563526298           9
1149776  276706   0679447156           0
1149777  276709   0515107662          10
1149778  276721   0590442449          10
1149779  276723  05162443314           8

[1149780 rows x 3 columns]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

       User-ID                            Location  Age
0            1                  nyc, new york, usa  NaN
1            2           stockton, california, usa   18
2            3     moscow, yukon territory, russia  NaN
3            4           porto, v.n.gaia, portugal   17
4            5  farnborough, hants, united kingdom  NaN
...        ...                                 ...  ...
167680  167681             new york, new york, usa   31
167681  167682                 mcallen, texas, usa  NaN
167682  167683         alamogordo, new mexico, usa  NaN
167683  167684       providence, rhode island, usa   24
167684  167685             bloomer, wisconsin, usa   30

[167685 rows x 3 columns]

I want to make 2 merges: ratings with books and ratings with users

In [80]:
def merge_unique_col(left_df, right_df, left_index, right_index):

  merged_df = left_df.merge(right_df, left_on=left_index, right_on = right_index, suffixes=('', '_remove'))

  merged_df.drop(
              [i for i in merged_df.columns if 'remove' in i],
               axis=1, inplace=True
               )

  return merged_df

ratings_books = merge_unique_col(ratings, books, 'ISBN', 'ISBN')

display(ratings_books)

ratings_users = merge_unique_col(ratings, users, 'User-ID', 'User-ID')

display(ratings_users)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

       User-ID        ISBN Book-Rating                   Location  Age
0            2  0195153448           0  stockton, california, usa   18
1            7   034542252           0        washington, dc, usa  NaN
2            8  0002005018           5   timmins, ontario, canada  NaN
3            8  0060973129           0   timmins, ontario, canada  NaN
4            8  0374157065           0   timmins, ontario, canada  NaN
...        ...         ...         ...                        ...  ...
678610  167678  1551668653           8            belton, tx, usa   35
678611  167678  1561451010           0            belton, tx, usa   35
678612  167678  1575667215           0            belton, tx, usa   35
678613  167678  1575667223           0            belton, tx, usa   35
678614  167680  0446525731           0    rialto, california, usa  NaN

[678615 rows x 5 columns]

I want to identify the book with the highest average rating

In [88]:
ratings_books['Book-Rating'] = ratings_books['Book-Rating'].astype(int)

In [126]:
average_ratings = ratings_books.groupby('ISBN')['Book-Rating'].mean()

highest_average_rating_isbn = average_ratings.nlargest(4)

print(highest_average_rating_isbn)

ISBN
0001360469    10.0
0001374869    10.0
0001821326    10.0
0001845039    10.0
Name: Book-Rating, dtype: float64

In [134]:
highest_average_rating_books = ratings_books[ratings_books['ISBN'].isin(highest_average_rating_isbn.index)]

print(highest_average_rating_books['Book-Title'])

424741                                        Babe Dressing
424742         Baby Plays (Collins Baby and Toddler Series)
767054                                  The Moon of Gomrath
981995    Paddington at the Tower (A Paddington Picture ...
Name: Book-Title, dtype: object

Find the books with the highest average rating but who have atleast 100 ratings

Then, the book with the most 10 ratings

In [128]:
ratings_10 = ratings_books[ratings_books['Book-Rating'] == 10]

ratings_10_count = ratings_10.groupby('ISBN').size()

isbn_with_most_10_ratings = ratings_10_count.nlargest(4)

print(isbn_with_most_10_ratings)

ISBN
0385504209    158
059035342X    152
0316666343    148
043935806X    111
dtype: int64

In [132]:
highest_10_ratings_books = ratings_books[ratings_books['ISBN'].isin(isbn_with_most_10_ratings.index)]

print(highest_10_ratings_books['Book-Title'].unique())

['Harry Potter and the Order of the Phoenix (Book 5)'
 'The Lovely Bones: A Novel' 'The Da Vinci Code'
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))"]

In [131]:
avg_ratings = ratings_books.groupby('ISBN')['Book-Rating'].mean()

rating_counts = ratings_books['ISBN'].value_counts()

filtered_books = average_ratings[rating_counts >= 100]

sorted_books = filtered_books.sort_values(ascending=False)

top_books = sorted_books.head(4)

print(top_books)

ISBN
0439064864    6.611765
0439139597    6.541237
0439136350    6.467005
0590353403    6.363095
Name: Book-Rating, dtype: float64

In [133]:
top_avg_over_100 = ratings_books[ratings_books['ISBN'].isin(top_books.index)]

print(top_avg_over_100['Book-Title'].unique())

['Harry Potter and the Chamber of Secrets (Book 2)'
 'Harry Potter and the Prisoner of Azkaban (Book 3)'
 'Harry Potter and the Goblet of Fire (Book 4)'
 "Harry Potter and the Sorcerer's Stone (Book 1)"]

For the international aspect I want to see the 5 countries which gave the most reviews. 
First of all I need to normaliza the location column

In [ ]:
location_split = ratings_users['Location'].str.split(',', n=2, expand=True)
ratings_users['City'] = location_split[0].str.strip()
ratings_users['State'] = location_split[1].str.strip()
ratings_users['Country'] = location_split[2].str.strip()

ratings_users = ratings_users.drop('Location', axis=1)


display(ratings_users)

In [118]:
nan_country_entries = ratings_users[ratings_users['Country'].notna()]

# display(nan_country_entries)

most_reviewed_country = ratings_users['Country'].value_counts().head(5)
print(most_reviewed_country)

usa               447544
canada             56164
united kingdom     29858
germany            24177
spain              16506
Name: Country, dtype: int64

I want to know the authors of the titles who appears the most in the book titles obtained previously

In [152]:
l_books_avg = list(top_avg_over_100['Book-Title'].unique())

l_books_10 = list(highest_10_ratings_books['Book-Title'].unique())

l_best_books = l_books_avg + l_books_10

l_best_books = list(set(l_best_books))

# print(l_best_books)


best_auth = ratings_books[ratings_books['Book-Title'].isin(l_best_books)]
best_auth = best_auth.drop_duplicates(subset=['Book-Title'])

display(best_auth)


top_authors = best_auth['Book-Author'].value_counts().head(4)

print(top_authors)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1992,276788,043935806X,7,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
6574,276925,0316666343,0,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...
7931,276925,0385504209,8,The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...
12721,276929,0439064864,0,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...
13370,276939,059035342X,0,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,Arthur A. Levine Books,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...
54431,277427,0439136369,0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...
54657,277427,043936213X,0,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...
130656,278356,0439139600,10,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2002,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...

J. K. Rowling    6
Alice Sebold     1
Dan Brown        1
Name: Book-Author, dtype: int64

Using google books API

https://www.googleapis.com/books/v1/volumes?q=search_term&key=AIzaSyCBCKiMTkSW3mjEVooUwMhxKet4_jGTvWk

In [165]:
import requests

url = 'https://www.googleapis.com/books/v1/volumes?q=search_term&key=AIzaSyCBCKiMTkSW3mjEVooUwMhxKet4_jGTvWk'

response = requests.get(url)

if response.status_code == 200:
    book_json = response.json()
    api_books = pd.json_normalize(book_json['items'])
    display(api_books)
else:
    print('Error:', response.status_code)

,kind,id,etag,selfLink,volumeInfo.title,volumeInfo.subtitle,volumeInfo.authors,volumeInfo.publisher,volumeInfo.publishedDate,volumeInfo.description,...,accessInfo.epub.isAvailable,accessInfo.pdf.isAvailable,accessInfo.webReaderLink,accessInfo.accessViewStatus,accessInfo.quoteSharingAllowed,searchInfo.textSnippet,accessInfo.epub.acsTokenLink,accessInfo.pdf.acsTokenLink,volumeInfo.averageRating,volumeInfo.ratingsCount
0,books#volume,TA9QDwAAQBAJ,m4cSQ0u9zAc,https://www.googleapis.com/books/v1/volumes/TA...,"Rails, Angular, Postgres, and Bootstrap","Powerful, Effective, Efficient, Full-Stack Web...",[David B. Copeland],Pragmatic Bookshelf,2017-06-22,Achieve awesome user experiences and performan...,...,True,True,http://play.google.com/books/reader?id=TA9QDwA...,SAMPLE,False,"... attr_reader :where_clause, :where_args, :o...",NaN,NaN,NaN,NaN
1,books#volume,udlJEAAAQBAJ,ka8QxYQ4cFQ,https://www.googleapis.com/books/v1/volumes/ud...,Job Ready Python,NaN,"[Haythem Balti, Kimberly A. Weiss]",John Wiley & Sons,2021-10-18,Get ready to take on Python with a practical a...,...,True,True,http://play.google.com/books/reader?id=udlJEAA...,SAMPLE,False,LISTING 9.17 Searching a tuple # create a tupl...,http://books.google.com.tw/books/download/Job_...,http://books.google.com.tw/books/download/Job_...,NaN,NaN
2,books#volume,9AhnDwAAQBAJ,YdZSCy8ggcM,https://www.googleapis.com/books/v1/volumes/9A...,Bash Cookbook,Leverage Bash scripting to automate daily task...,"[Ron Brash, Ganesh Sanjiv Naik]",Packt Publishing Ltd,2018-07-31,Create simple to advanced shell scripts and en...,...,True,True,http://play.google.com/books/reader?id=9AhnDwA...,SAMPLE,False,Let&#39;s find all the files with the string &...,NaN,NaN,NaN,NaN
3,books#volume,m_F6cg6dkYQC,ExCvjDM7sJA,https://www.googleapis.com/books/v1/volumes/m_...,Essential PHP Tools,"Modules, Extensions, and Accelerators",[David Sklar],Apress,2008-01-01,* PHP is the leading programming language for ...,...,False,True,http://play.google.com/books/reader?id=m_F6cg6...,SAMPLE,False,Listing 4-11. show-icecream-xml.tpl: XML Ice C...,NaN,http://books.google.com.tw/books/download/Esse...,NaN,NaN
4,books#volume,fElmDwAAQBAJ,LbVJMmLHVWI,https://www.googleapis.com/books/v1/volumes/fE...,The Site Reliability Workbook,Practical Ways to Implement SRE,"[Betsy Beyer, Niall Richard Murphy, David K. R...","""O'Reilly Media, Inc.""",2018-07-25,"In 2016, Googleâ€™s Site Reliability Engineering...",...,True,True,http://play.google.com/books/reader?id=fElmDwA...,SAMPLE,False,<b>search_term</b>. to the click log to reduce...,NaN,NaN,5.0,1.0
5,books#volume,PoeTAgAAQBAJ,q5OGlZUB+bo,https://www.googleapis.com/books/v1/volumes/Po...,Raspberry Pi Projects,NaN,"[Andrew Robinson, Mike Cook]",John Wiley & Sons,2014-01-10,Learn to build software and hardware projects ...,...,True,True,http://play.google.com/books/reader?id=PoeTAgA...,SAMPLE,False,Status() # has user passed command line argume...,http://books.google.com.tw/books/download/Rasp...,http://books.google.com.tw/books/download/Rasp...,NaN,NaN
6,books#volume,d9ebAgAAQBAJ,VfcTl6PMHpo,https://www.googleapis.com/books/v1/volumes/d9...,PHP Cookbook,NaN,"[David Sklar, Adam Trachtenberg]","""O'Reilly Media, Inc.""",2006-08-25,Offers instructions for creating programs to d...,...,False,True,http://play.google.com/books/reader?id=d9ebAgA...,SAMPLE,False,The following code expects $_GET[&#39;<b>searc...,NaN,NaN,NaN,NaN
7,books#volume,hgwFAQAAQBAJ,zeQ7xtIO0n0,https://www.googleapis.com/books/v1/volumes/hg...,Raspberry Pi Hardware Projects 1,NaN,"[Andrew Robinson, Mike Cook]",John Wiley & Sons,2013-09-25,Learn how to take full advantage of all of Ras...,...,True,True,http://play.google.com/books/reader?id=hgwFAQA...,SAMPLE,False,"Chicken(pfio,0) # hasuserpassedcommandlineargu...",http://books.google.com.tw/books/download/Rasp...,http://books.google.com.tw/books/download/Rasp...,NaN,NaN
8,books#volume,2XliiK7FKoEC,ZX6tFx7bw7k,https://www.googleapis.com/books/v1/volumes/2X...,Violent Python,"A Cookbook for Hackers, Forensic Analysts, Pen...",[TJ O'Connor],Newnes,2012-12-28,Violent Python shows you how to move from a th...,...,True,True,http://play.google.com/books/reader?id=2XliiK7...,SAMPLE,False,We will build our query function from the grou...,http://books.google.com.tw/books/download/Viol...,http://books.google.com.tw/books/download/Viol...,3.0,1.0
9,books#volume,x1w4EAAAQBAJ,VN9lBjMCYkI,https://www.googleapis.com/books/v1/volumes/x1...,Rust in Action,NaN,[Tim McNamara],Simon and Schuster,2021-08-10,Rust in Action introduces the Rust programming...,...,False,False,http://play.google.com/books/reader?id=x1w4EAA...,SAMPLE,False,Listing 2.19 Manually incrementing an index va...,NaN,NaN,NaN,NaN