<a href="https://colab.research.google.com/github/CalinZavoi/Book_Store/blob/main/Zavoi_Calin_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import sqlite3


conn = sqlite3.connect(':memory:') 

with open('BX-Book-Ratings.sql', 'r') as file:
    sql_script = file.read()
    cursor = conn.cursor()
    cursor.executescript(sql_script)


query = "SELECT * FROM BX-Book-Ratings;"  
df = pd.read_sql_query(query, conn)


conn.close()

OperationalError: ignored

In [75]:
import pandas as pd

path = 'BX-'
l_path = ['Book-Ratings',
          'Books',
          'Users'
]

dataframes = {}


def replace_characters(df):
    df.replace('%amp;', '&', regex=True, inplace=True)
    df.replace('EOF', '', regex=True, inplace=True)


for crt in l_path:
    final_path = path + crt + '.csv'
    dataframes[crt] = pd.read_csv(final_path, sep=';', encoding='latin-1', on_bad_lines = 'warn', dtype=object)
    replace_characters(dataframes[crt])


ratings_df = dataframes['Book-Ratings']
books_df = dataframes['Books']
users_df = dataframes['Users']

display(ratings_df)
display(books_df)
display(users_df)

Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

        User-ID         ISBN Book-Rating
0        276725   034545104X           0
1        276726   0155061224           5
2        276727   0446520802           0
3        276729   052165615X           3
4        276729   0521795028           6
...         ...          ...         ...
1149775  276704   1563526298           9
1149776  276706   0679447156           0
1149777  276709   0515107662          10
1149778  276721   0590442449          10
1149779  276723  05162443314           8

[1149780 rows x 3 columns]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

       User-ID                            Location  Age
0            1                  nyc, new york, usa  NaN
1            2           stockton, california, usa   18
2            3     moscow, yukon territory, russia  NaN
3            4           porto, v.n.gaia, portugal   17
4            5  farnborough, hants, united kingdom  NaN
...        ...                                 ...  ...
167680  167681             new york, new york, usa   31
167681  167682                 mcallen, texas, usa  NaN
167682  167683         alamogordo, new mexico, usa  NaN
167683  167684       providence, rhode island, usa   24
167684  167685             bloomer, wisconsin, usa   30

[167685 rows x 3 columns]

In [76]:
ratings = ratings_df
books = books_df
users = users_df


display(ratings)
display(books)
display(users)

        User-ID         ISBN Book-Rating
0        276725   034545104X           0
1        276726   0155061224           5
2        276727   0446520802           0
3        276729   052165615X           3
4        276729   0521795028           6
...         ...          ...         ...
1149775  276704   1563526298           9
1149776  276706   0679447156           0
1149777  276709   0515107662          10
1149778  276721   0590442449          10
1149779  276723  05162443314           8

[1149780 rows x 3 columns]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

       User-ID                            Location  Age
0            1                  nyc, new york, usa  NaN
1            2           stockton, california, usa   18
2            3     moscow, yukon territory, russia  NaN
3            4           porto, v.n.gaia, portugal   17
4            5  farnborough, hants, united kingdom  NaN
...        ...                                 ...  ...
167680  167681             new york, new york, usa   31
167681  167682                 mcallen, texas, usa  NaN
167682  167683         alamogordo, new mexico, usa  NaN
167683  167684       providence, rhode island, usa   24
167684  167685             bloomer, wisconsin, usa   30

[167685 rows x 3 columns]

I want to make 2 merges: ratings with books and ratings with users

In [80]:
def merge_unique_col(left_df, right_df, left_index, right_index):

  merged_df = left_df.merge(right_df, left_on=left_index, right_on = right_index, suffixes=('', '_remove'))

  merged_df.drop(
              [i for i in merged_df.columns if 'remove' in i],
               axis=1, inplace=True
               )

  return merged_df

ratings_books = merge_unique_col(ratings, books, 'ISBN', 'ISBN')

display(ratings_books)

ratings_users = merge_unique_col(ratings, users, 'User-ID', 'User-ID')

display(ratings_users)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

       User-ID        ISBN Book-Rating                   Location  Age
0            2  0195153448           0  stockton, california, usa   18
1            7   034542252           0        washington, dc, usa  NaN
2            8  0002005018           5   timmins, ontario, canada  NaN
3            8  0060973129           0   timmins, ontario, canada  NaN
4            8  0374157065           0   timmins, ontario, canada  NaN
...        ...         ...         ...                        ...  ...
678610  167678  1551668653           8            belton, tx, usa   35
678611  167678  1561451010           0            belton, tx, usa   35
678612  167678  1575667215           0            belton, tx, usa   35
678613  167678  1575667223           0            belton, tx, usa   35
678614  167680  0446525731           0    rialto, california, usa  NaN

[678615 rows x 5 columns]

I want to identify the book with the highest average rating

In [88]:
ratings_books['Book-Rating'] = ratings_books['Book-Rating'].astype(int)

In [100]:
average_ratings = ratings_books.groupby('ISBN')['Book-Rating'].mean()

highest_average_rating_isbn = average_ratings.nlargest(3)

print(highest_average_rating_isbn)

ISBN
0001360469    10.0
0001374869    10.0
0001821326    10.0
Name: Book-Rating, dtype: float64

In [104]:
highest_average_rating_books = ratings_books[ratings_books['ISBN'].isin(highest_average_rating_isbn.index)]

print(highest_average_rating_books['Book-Title'])

424741                                        Babe Dressing
424742         Baby Plays (Collins Baby and Toddler Series)
981995    Paddington at the Tower (A Paddington Picture ...
Name: Book-Title, dtype: object

Then, the book with the most 10 ratings

In [91]:
ratings_10 = ratings_books[ratings_books['Book-Rating'] == 10]

ratings_10_count = ratings_10.groupby('ISBN').size()

isbn_with_most_10_ratings = ratings_10_count.nlargest(3)

print(isbn_with_most_10_ratings)

ISBN
0385504209    158
059035342X    152
0316666343    148
dtype: int64

In [110]:
highest_10_ratings_books = ratings_books[ratings_books['ISBN'].isin(isbn_with_most_10_ratings.index)]

print(highest_10_ratings_books['Book-Title'].unique())

['The Lovely Bones: A Novel' 'The Da Vinci Code'
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))"]

Find the books with the highest average rating but who have atleast 100 ratings

In [95]:
avg_ratings = ratings_books.groupby('ISBN')['Book-Rating'].mean()

rating_counts = ratings_books['ISBN'].value_counts()

filtered_books = average_ratings[rating_counts >= 100]

sorted_books = filtered_books.sort_values(ascending=False)

top_books = sorted_books.head(3)

print(top_books)

ISBN
0439064864    6.611765
0439139597    6.541237
0439136350    6.467005
Name: Book-Rating, dtype: float64

In [111]:
top_avg_over_100 = ratings_books[ratings_books['ISBN'].isin(top_books.index)]

print(top_avg_over_100['Book-Title'].unique())

['Harry Potter and the Chamber of Secrets (Book 2)'
 'Harry Potter and the Prisoner of Azkaban (Book 3)'
 'Harry Potter and the Goblet of Fire (Book 4)']

I want to know the authors of the titles who appears the most in the book titles obtained previously