<a href="https://colab.research.google.com/github/CalinZavoi/Book_Store/blob/main/Zavoi_Calin_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import sqlite3


conn = sqlite3.connect(':memory:') 

with open('BX-Book-Ratings.sql', 'r') as file:
    sql_script = file.read()
    cursor = conn.cursor()
    cursor.executescript(sql_script)


query = "SELECT * FROM BX-Book-Ratings;"  
df = pd.read_sql_query(query, conn)


conn.close()

OperationalError: ignored

In [75]:
import pandas as pd

path = 'BX-'
l_path = ['Book-Ratings',
          'Books',
          'Users'
]

dataframes = {}


def replace_characters(df):
    df.replace('%amp;', '&', regex=True, inplace=True)
    df.replace('EOF', '', regex=True, inplace=True)


for crt in l_path:
    final_path = path + crt + '.csv'
    dataframes[crt] = pd.read_csv(final_path, sep=';', encoding='latin-1', on_bad_lines = 'warn', dtype=object)
    replace_characters(dataframes[crt])


ratings_df = dataframes['Book-Ratings']
books_df = dataframes['Books']
users_df = dataframes['Users']

display(ratings_df)
display(books_df)
display(users_df)

Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

        User-ID         ISBN Book-Rating
0        276725   034545104X           0
1        276726   0155061224           5
2        276727   0446520802           0
3        276729   052165615X           3
4        276729   0521795028           6
...         ...          ...         ...
1149775  276704   1563526298           9
1149776  276706   0679447156           0
1149777  276709   0515107662          10
1149778  276721   0590442449          10
1149779  276723  05162443314           8

[1149780 rows x 3 columns]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

       User-ID                            Location  Age
0            1                  nyc, new york, usa  NaN
1            2           stockton, california, usa   18
2            3     moscow, yukon territory, russia  NaN
3            4           porto, v.n.gaia, portugal   17
4            5  farnborough, hants, united kingdom  NaN
...        ...                                 ...  ...
167680  167681             new york, new york, usa   31
167681  167682                 mcallen, texas, usa  NaN
167682  167683         alamogordo, new mexico, usa  NaN
167683  167684       providence, rhode island, usa   24
167684  167685             bloomer, wisconsin, usa   30

[167685 rows x 3 columns]

In [76]:
ratings = ratings_df
books = books_df
users = users_df


display(ratings)
display(books)
display(users)

        User-ID         ISBN Book-Rating
0        276725   034545104X           0
1        276726   0155061224           5
2        276727   0446520802           0
3        276729   052165615X           3
4        276729   0521795028           6
...         ...          ...         ...
1149775  276704   1563526298           9
1149776  276706   0679447156           0
1149777  276709   0515107662          10
1149778  276721   0590442449          10
1149779  276723  05162443314           8

[1149780 rows x 3 columns]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

       User-ID                            Location  Age
0            1                  nyc, new york, usa  NaN
1            2           stockton, california, usa   18
2            3     moscow, yukon territory, russia  NaN
3            4           porto, v.n.gaia, portugal   17
4            5  farnborough, hants, united kingdom  NaN
...        ...                                 ...  ...
167680  167681             new york, new york, usa   31
167681  167682                 mcallen, texas, usa  NaN
167682  167683         alamogordo, new mexico, usa  NaN
167683  167684       providence, rhode island, usa   24
167684  167685             bloomer, wisconsin, usa   30

[167685 rows x 3 columns]

I want to make 2 merges: ratings with books and ratings with users

In [80]:
def merge_unique_col(left_df, right_df, left_index, right_index):

  merged_df = left_df.merge(right_df, left_on=left_index, right_on = right_index, suffixes=('', '_remove'))

  merged_df.drop(
              [i for i in merged_df.columns if 'remove' in i],
               axis=1, inplace=True
               )

  return merged_df

ratings_books = merge_unique_col(ratings, books, 'ISBN', 'ISBN')

display(ratings_books)

ratings_users = merge_unique_col(ratings, users, 'User-ID', 'User-ID')

display(ratings_users)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

       User-ID        ISBN Book-Rating                   Location  Age
0            2  0195153448           0  stockton, california, usa   18
1            7   034542252           0        washington, dc, usa  NaN
2            8  0002005018           5   timmins, ontario, canada  NaN
3            8  0060973129           0   timmins, ontario, canada  NaN
4            8  0374157065           0   timmins, ontario, canada  NaN
...        ...         ...         ...                        ...  ...
678610  167678  1551668653           8            belton, tx, usa   35
678611  167678  1561451010           0            belton, tx, usa   35
678612  167678  1575667215           0            belton, tx, usa   35
678613  167678  1575667223           0            belton, tx, usa   35
678614  167680  0446525731           0    rialto, california, usa  NaN

[678615 rows x 5 columns]

I want to identify the book with the highest average rating

In [88]:
ratings_books['Book-Rating'] = ratings_books['Book-Rating'].astype(int)

In [126]:
average_ratings = ratings_books.groupby('ISBN')['Book-Rating'].mean()

highest_average_rating_isbn = average_ratings.nlargest(4)

print(highest_average_rating_isbn)

ISBN
0001360469    10.0
0001374869    10.0
0001821326    10.0
0001845039    10.0
Name: Book-Rating, dtype: float64

In [134]:
highest_average_rating_books = ratings_books[ratings_books['ISBN'].isin(highest_average_rating_isbn.index)]

print(highest_average_rating_books['Book-Title'])

424741                                        Babe Dressing
424742         Baby Plays (Collins Baby and Toddler Series)
767054                                  The Moon of Gomrath
981995    Paddington at the Tower (A Paddington Picture ...
Name: Book-Title, dtype: object

Find the books with the highest average rating but who have atleast 100 ratings

Then, the book with the most 10 ratings

In [128]:
ratings_10 = ratings_books[ratings_books['Book-Rating'] == 10]

ratings_10_count = ratings_10.groupby('ISBN').size()

isbn_with_most_10_ratings = ratings_10_count.nlargest(4)

print(isbn_with_most_10_ratings)

ISBN
0385504209    158
059035342X    152
0316666343    148
043935806X    111
dtype: int64

In [132]:
highest_10_ratings_books = ratings_books[ratings_books['ISBN'].isin(isbn_with_most_10_ratings.index)]

print(highest_10_ratings_books['Book-Title'].unique())

['Harry Potter and the Order of the Phoenix (Book 5)'
 'The Lovely Bones: A Novel' 'The Da Vinci Code'
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))"]

In [131]:
avg_ratings = ratings_books.groupby('ISBN')['Book-Rating'].mean()

rating_counts = ratings_books['ISBN'].value_counts()

filtered_books = average_ratings[rating_counts >= 100]

sorted_books = filtered_books.sort_values(ascending=False)

top_books = sorted_books.head(4)

print(top_books)

ISBN
0439064864    6.611765
0439139597    6.541237
0439136350    6.467005
0590353403    6.363095
Name: Book-Rating, dtype: float64

In [133]:
top_avg_over_100 = ratings_books[ratings_books['ISBN'].isin(top_books.index)]

print(top_avg_over_100['Book-Title'].unique())

['Harry Potter and the Chamber of Secrets (Book 2)'
 'Harry Potter and the Prisoner of Azkaban (Book 3)'
 'Harry Potter and the Goblet of Fire (Book 4)'
 "Harry Potter and the Sorcerer's Stone (Book 1)"]

For the international aspect I want to see the 5 countries which gave the most reviews. 
First of all I need to normaliza the location column

In [ ]:
location_split = ratings_users['Location'].str.split(',', n=2, expand=True)
ratings_users['City'] = location_split[0].str.strip()
ratings_users['State'] = location_split[1].str.strip()
ratings_users['Country'] = location_split[2].str.strip()

ratings_users = ratings_users.drop('Location', axis=1)


display(ratings_users)

In [118]:
nan_country_entries = ratings_users[ratings_users['Country'].notna()]

# display(nan_country_entries)

most_reviewed_country = ratings_users['Country'].value_counts().head(5)
print(most_reviewed_country)

usa               447544
canada             56164
united kingdom     29858
germany            24177
spain              16506
Name: Country, dtype: int64

I want to know the authors of the titles who appears the most in the book titles obtained previously

In [152]:
l_books_avg = list(top_avg_over_100['Book-Title'].unique())

l_books_10 = list(highest_10_ratings_books['Book-Title'].unique())

l_best_books = l_books_avg + l_books_10

l_best_books = list(set(l_best_books))

# print(l_best_books)


best_auth = ratings_books[ratings_books['Book-Title'].isin(l_best_books)]
best_auth = best_auth.drop_duplicates(subset=['Book-Title'])

display(best_auth)


top_authors = best_auth['Book-Author'].value_counts().head(4)

print(top_authors)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1992,276788,043935806X,7,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
6574,276925,0316666343,0,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...
7931,276925,0385504209,8,The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...
12721,276929,0439064864,0,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...
13370,276939,059035342X,0,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,Arthur A. Levine Books,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...
54431,277427,0439136369,0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...
54657,277427,043936213X,0,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...
130656,278356,0439139600,10,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2002,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...

J. K. Rowling    6
Alice Sebold     1
Dan Brown        1
Name: Book-Author, dtype: int64

Using google books API

https://www.googleapis.com/books/v1/volumes?q=search_term&key=AIzaSyCBCKiMTkSW3mjEVooUwMhxKet4_jGTvWk

In [183]:
import requests


final_books = pd.DataFrame()

l_desc = []

# print(l_best_books)

for title in l_best_books:


  url = 'https://www.googleapis.com/books/v1/volumes?q={}&key=AIzaSyCBCKiMTkSW3mjEVooUwMhxKet4_jGTvWk'.format(title)

  response = requests.get(url)

  if response.status_code == 200:
      book_json = response.json()
      api_books = pd.json_normalize(book_json['items'])

      # api_books = api_books.loc[api_books['volumeInfo.title'].str.lower() == title.lower()]

      api_books = api_books.sort_values(by='volumeInfo.publishedDate', ascending = False)

      api_books = api_books.head(1)


      final_books = pd.concat([final_books, api_books], ignore_index=True)

      
  else:
      print('Error:', response.status_code)

# regex to remove the extra HP book

display(final_books)

,kind,id,etag,selfLink,volumeInfo.title,volumeInfo.authors,volumeInfo.publisher,volumeInfo.publishedDate,volumeInfo.description,volumeInfo.industryIdentifiers,...,searchInfo.textSnippet,volumeInfo.subtitle,accessInfo.pdf.acsTokenLink,saleInfo.listPrice.amount,saleInfo.listPrice.currencyCode,saleInfo.retailPrice.amount,saleInfo.retailPrice.currencyCode,saleInfo.buyLink,saleInfo.offers,accessInfo.epub.acsTokenLink
0,books#volume,3YUrtAEACAAJ,TcZoKofSV3I,https://www.googleapis.com/books/v1/volumes/3Y...,Harry Potter and the Sorcerer's Stone,[J. K. Rowling],Arthur A. Levine Books,2018-06-26,A special new edition in celebration of the 20...,"[{'type': 'ISBN_10', 'identifier': '133829914X...",...,Rescued from the outrageous neglect of his aun...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,books#volume,BvRLzwEACAAJ,U1ZM9dg96KQ,https://www.googleapis.com/books/v1/volumes/Bv...,Harry Potter and the Goblet of Fire (Harry Pot...,[J. K. Rowling],Scholastic Incorporated,2023-05-02,Harry wants to get away from the pernicious Du...,"[{'type': 'ISBN_10', 'identifier': '1338878956...",...,Harry wants to get away from the pernicious Du...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,books#volume,ZiJMzwEACAAJ,n2h1IRO3E7U,https://www.googleapis.com/books/v1/volumes/Zi...,Harry Potter and the Sorcerer's Stone (Harry P...,[J. K. Rowling],Scholastic Incorporated,2023-05-02,Harry Potter has never been the star of a Quid...,"[{'type': 'ISBN_10', 'identifier': '1338878921...",...,Harry Potter has never been the star of a Quid...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,books#volume,DwqFzQEACAAJ,UYtpy0CoJcA,https://www.googleapis.com/books/v1/volumes/Dw...,Lovely Bones,"[Alice Sebold BRYONY LAVERY, Alice Sebold]",NaN,2020-03-24,Susie Salmon is just like any other young girl...,"[{'type': 'ISBN_10', 'identifier': '0573116865...",...,Alice Sebold&#39;s novel The Lovely Bones is a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,books#volume,XPlLzwEACAAJ,2YfhvApl6i8,https://www.googleapis.com/books/v1/volumes/XP...,Harry Potter and the Order of the Phoenix (Har...,[J. K. Rowling],Scholastic Incorporated,2023-05-02,There is a door at the end of a silent corrido...,"[{'type': 'ISBN_10', 'identifier': '1338878964...",...,There is a door at the end of a silent corridor.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,books#volume,6-pmDwAAQBAJ,EdHJoPwmX4s,https://www.googleapis.com/books/v1/volumes/6-...,The Da Vinci Code (Republish),[Dan Brown],Bentang Pustaka,2018-08-02,Robert Langdon menerima telepon misterius yang...,"[{'type': 'ISBN_13', 'identifier': '9786022911...",...,Langdon harus segera memecahkan misteri itu da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://books.google.com.tw/books/download/The_...
6,books#volume,StdvEAAAQBAJ,wbVc4a+Su4Q,https://www.googleapis.com/books/v1/volumes/St...,The Unofficial Harry Potter Companion Volume 2...,[Alohomora!],NaN,2023-04-18,The Unofficial Harry Potter Companion Volume 2...,"[{'type': 'ISBN_13', 'identifier': '9781956403...",...,The Unofficial Harry Potter Companion Volume 2...,An In-depth Exploration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,books#volume,ZH6pzwEACAAJ,E2ObT1xTXGk,https://www.googleapis.com/books/v1/volumes/ZH...,Harry Potter and the Prisoner of Azkaban: Mina...,[J.k. Rowling],Bloomsbury Children's Books,2023-10-03,"The third book in the Harry Potter series, ill...","[{'type': 'ISBN_10', 'identifier': '1526666324...",...,Return to Hogwarts in this stunning edition of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (51) exceeds max_columns (20) limiting to first (20) columns.

I want to obtain a description for the selected books

In [189]:
google_books = final_books
best_books_local = best_auth

ser_desc = google_books['volumeInfo.description']

display(ser_desc)

best_books_local['description'] = best_books_local['Book-Title'].map(ser_desc)

display(best_books_local)

0    A special new edition in celebration of the 20...
1    Harry wants to get away from the pernicious Du...
2    Harry Potter has never been the star of a Quid...
3    Susie Salmon is just like any other young girl...
4    There is a door at the end of a silent corrido...
5    Robert Langdon menerima telepon misterius yang...
6    The Unofficial Harry Potter Companion Volume 2...
7    The third book in the Harry Potter series, ill...
Name: volumeInfo.description, dtype: object

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,description
1992,276788,043935806X,7,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,NaN
6574,276925,0316666343,0,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,NaN
7931,276925,0385504209,8,The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,NaN
12721,276929,0439064864,0,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,NaN
13370,276939,059035342X,0,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,Arthur A. Levine Books,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...,NaN
54431,277427,0439136369,0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,NaN
54657,277427,043936213X,0,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...,NaN
130656,278356,0439139600,10,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2002,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,NaN

In [207]:
import requests
from bs4 import BeautifulSoup

def get_author_info(author_name):
    
    url = f"https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts&exintro=true&redirects=true&titles={author_name}"

    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()
        pages = data.get("query", {}).get("pages", {})
        page_id = next(iter(pages.keys())) 
        page_info = pages.get(page_id, {})
        extract = page_info.get("extract")

        
        soup = BeautifulSoup(extract, 'html.parser')
        plain_text = soup.get_text(separator="\n")
        return plain_text

l_auth = best_books_local['Book-Author'].to_list()

l_auth = list(set(l_auth))

# print(l_auth)

l_desc = []

for author_name in l_auth:
  author_info = get_author_info(author_name)

  l_desc.append(author_info)


# print(l_desc)
  
auth_desc = {k: v for k, v in zip(l_auth, l_desc)}

auth_desc = pd.DataFrame([auth_desc], index=['Description'])

auth_desc = auth_desc.T

display(auth_desc)

['\n\n\n\nJoanne Rowling\n  (\n "rolling"; born 31 July 1965), best known by her pen name \nJ.\xa0K. Rowling\n, is a British author and philanthropist. She wrote \nHarry Potter\n, a seven-volume children\'s fantasy series published from 1997 to 2007. The series has sold over 600\xa0million copies, been translated into 84\xa0languages, and spawned a global media franchise including films and video games. \nThe Casual Vacancy\n (2012) was her first novel for adults. She writes \nCormoran Strike\n, an ongoing crime fiction series, under the alias \nRobert Galbraith\n.\n\nBorn in Yate, Gloucestershire, Rowling was working as a researcher and bilingual secretary for Amnesty International in 1990 when she conceived the idea for the \nHarry Potter\n series while on a delayed train from Manchester to London. The seven-year period that followed saw the death of her mother, the birth of her first child, divorce from her first husband, and relative poverty until the first novel in the series, \nHarry Potter and the Philosopher\'s Stone\n, was published in 1997. Six sequels followed, and by 2008, \nForbes\n had named her the world\'s highest-paid author. \n\nRowling concluded the \nHarry Potter\n series with \nHarry Potter and the Deathly Hallows\n (2007). The novels follow a boy called Harry Potter as he attends Hogwarts (a school for wizards), and battles Lord Voldemort. Death and the divide between good and evil are the central themes of the series. Its influences include \nBildungsroman\n (the coming-of-age genre), school stories, fairy tales, and Christian allegory. The series revived fantasy as a genre in the children\'s market, spawned a host of imitators, and inspired an active fandom. Critical reception has been more mixed. Many reviewers see Rowling\'s writing as conventional; some regard her portrayal of gender and social division as regressive. There were also religious debates over \nHarry Potter\n.\n\nRowling has won many accolades for her work. She has received an OBE and made a Companion of Honour for services to literature and philanthropy. \nHarry Potter\n brought her wealth and recognition, which she has used to advance philanthropic endeavours and political causes. She co-founded the charity Lumos and established the Volant Charitable Trust, named after her mother. Rowling\'s charitable giving centres on medical causes and supporting at-risk women and children. In politics, she has donated to Britain\'s Labour Party and opposed Scottish independence and Brexit. Since late 2019, she has publicly expressed her opinions on transgender people and related civil rights. These have been criticised as transphobic by LGBT rights organisations and some feminists, but have received support from other feminists and individuals.\n\n\n', '\n\n\n\n\n\n\n\nAlice Sebold\n (born September 6, 1963) is an American author. She is known for her novels \nThe Lovely Bones\n and \nThe Almost Moon\n, and a memoir, \nLucky\n. \nThe Lovely Bones\n was on \nThe New York Times\n Best Seller list and was adapted into a film by the same name in 2010. Her memoir, \nLucky\n, sold over a million copies and describes her experience in her first year at Syracuse University, when she was raped. Anthony Broadwater, who was incorrectly identified as the perpetrator by Sebold, spent 16 years in prison. He was exonerated in 2021, after a judge overturned the original conviction.\n', '\n\n\n\nDaniel Gerhard Brown\n (born June 22, 1964) is an American author best known for his thriller novels, including the Robert Langdon novels \nAngels & Demons\n (2000), \nThe Da Vinci Code\n (2003), \nThe Lost Symbol\n (2009), \nInferno\n (2013), and \nOrigin\n (2017). His novels are treasure hunts that usually take place over a period of 24 hours. They feature recurring themes of cryptography, art, and conspiracy theories. His books have been translated into 57 languages and, as of 2012, have sold over 200 million copies. Three of them, \nAngels & Demons\n, \nThe Da Vinci Code\n, and \nInferno\n, have been adapted into films, while one of them, \nThe Lost Symbol\n, was adapted into a television show.\n\nThe Robert Langdon novels are deeply engaged with Christian themes and historical fiction, and have generated controversy as a result. Brown states on his website that his books are not anti-Christian and he is on a "constant spiritual journey" himself. He states that his book \nThe Da Vinci Code\n is "an entertaining story that promotes spiritual discussion and debate" and suggests that the book may be used "as a positive catalyst for introspection and exploration of our faith."\n\n']

                                                     Description
J. K. Rowling  \n\n\n\nJoanne Rowling\n  (\n "rolling"; born ...
Alice Sebold   \n\n\n\n\n\n\n\nAlice Sebold\n (born September...
Dan Brown      \n\n\n\nDaniel Gerhard Brown\n (born June 22, ...