<a href="https://colab.research.google.com/github/CalinZavoi/Book_Store/blob/main/Zavoi_Calin_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import sqlite3


conn = sqlite3.connect(':memory:') 

with open('BX-Book-Ratings.sql', 'r') as file:
    sql_script = file.read()
    cursor = conn.cursor()
    cursor.executescript(sql_script)


query = "SELECT * FROM BX-Book-Ratings;"  
df = pd.read_sql_query(query, conn)


conn.close()

OperationalError: ignored

In [55]:
import pandas as pd

path = 'BX-'
l_path = ['Book-Ratings',
          'Books',
          # 'Users'
]

dataframes = {}

for crt in l_path:
    final_path = path + crt + '.csv'
    dataframes[crt] = pd.read_csv(final_path, sep=';', encoding='latin-1', quotechar='"', replace='&amp;', engine='python')

    dataframes[crt]  = dataframes[crt].replace('&amp;', '', regex=True)

ratings_df = dataframes['Book-Ratings']
books_df = dataframes['Books']
# users_df = dataframes['Users']

TypeError: ignored

In [39]:
ratings = ratings_df

display(ratings)

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

I want to identify the book with the highest average rating

In [53]:
average_ratings = ratings.groupby('ISBN')['Book-Rating'].mean()

highest_average_rating_isbn = average_ratings.nlargest(3)

print(highest_average_rating_isbn)

ISBN
'9607092910'     10.0
0.330241664      10.0
0.380.44099.7    10.0
Name: Book-Rating, dtype: float64

Then, the book with the most 10 ratings

In [54]:
ratings_10 = ratings[ratings['Book-Rating'] == 10]

ratings_10_count = ratings_10.groupby('ISBN').size()

isbn_with_most_10_ratings = ratings_10_count.nlargest(3)

print(isbn_with_most_10_ratings)

ISBN
0385504209    158
059035342X    152
0316666343    148
dtype: int64